<div id="container" class="container">
    <div class="pinpad">
        <div class="pinpad-front">
            <div class="pinpad-inside">
                <div class="screen">
                    <div class="operation">
                        {{first}} {{operator}}
                    </div>
                    <div class="code">
                        <input [(ngModel)]="screen" #inputBlured (blur)="onBlur()" (keypress)="clickOrkeyboardInput($event.key); stopDefAction($event);" name="screen" type="text" maxlength="11">
                    </div>
                </div>
                <div class="pinpad-buttons">
                    <div (click)="clearActual()" id="delete" class="cursor-pointer">CE</div>
                    <div (click)="clearAll()" id="delete" class="cursor-pointer">C</div>
                    <div (click)="delete()" id="delete" class="cursor-pointer">Del</div>
                    <div (click)="calculate('/')" class="cursor-pointer">÷</div>
                    <div (click)="clickOrkeyboardInput('7')" class="cursor-pointer">7</div>
                    <div (click)="clickOrkeyboardInput('8')" class="cursor-pointer">8</div>
                    <div (click)="clickOrkeyboardInput('9')" class="cursor-pointer">9</div>
                    <div (click)="calculate('*')" class="cursor-pointer">*</div>
                    <div (click)="clickOrkeyboardInput('4')" class="cursor-pointer">4</div>
                    <div (click)="clickOrkeyboardInput('5')" class="cursor-pointer">5</div>
                    <div (click)="clickOrkeyboardInput('6')" class="cursor-pointer">6</div>
                    <div (click)="calculate('-')" class="cursor-pointer">-</div>
                    <div (click)="clickOrkeyboardInput('1')" class="cursor-pointer">1</div>
                    <div (click)="clickOrkeyboardInput('2')" class="cursor-pointer">2</div>
                    <div (click)="clickOrkeyboardInput('3')" class="cursor-pointer">3</div>
                    <div (click)="calculate('+')" class="cursor-pointer">+</div>
                    <div (click)="changeSign()" class="cursor-pointer">=/-</div>
                    <div (click)="clickOrkeyboardInput('0')" class="cursor-pointer">0</div>
                    <div (click)="clickOrkeyboardInput('.')" class="cursor-pointer">,</div>
                    <div id="save" (click)="calculate('=')" class="cursor-pointer">=</div>
                </div>
            </div>
        </div>
    </div>
</div>